   <div class="row" style="margin-left: 2%;margin-right: 2%; ">
       <input type="hidden" name="idProyecto" id="idProyecto" value="0">
                                
                                <div class="form-column col-md-4">
                                    <div class="form-group required">
                                        <label for="nombreProyecto" class="control-label">Nombre del proyecto</label>
                                        <input type="text" class="form-control requerido" id="nombreProyecto" 
                                               placeholder="Nombre del proyecto" name="nombreProyecto" >
                                    </div>
                                </div>
                                 <div class="form-column col-md-4">
                                     <div class="form-group required" >
                                        <label for="idcliente" class="control-label">Cliente</label>
                                        <select id="idcliente" name="idcliente" class="form-control requerido" style="width: 100%">
                                            <option value="" disabled selected>Seleccione un cliente...</option>
                                        </select>  
                                        </div>
                                 </div>
                                 
                                <div class="form-column col-md-4">
                                     <div class="form-group required" >
                                        <label for="contactoDirecto" class="control-label">Contacto directo del cliente</label>
                                            <select id="contactoDirecto" name="contactoDirecto" class="form-control requerido" style="width: 100%">
                                            <option value="" disabled selected>Seleccione un contacto ...</option>
                                        </select>  
                                     </div>
                                 </div>
                                        <div class="clearfix"></div>
                                        <div class="form-column col-md-3">
                                            <div class="form-group required" >
                                                <label for="fechaInicio" class="control-label">Fecha Inicio del proyecto</label></br>
                                                <input type="text" name="fechaInicio" id="fechaInicio" class="requerido form-control" >

                                            </div>
                                        </div>
                                        <div class="form-column col-md-3">
                                            <div class="form-group required" >
                                                <label for="fechaFin" class="control-label">Fecha estimada de finalizacion</label></br>
                                                <input type="text" name="fechaFin" id="fechaFin" class="requerido form-control" >
                                            </div>
                                        </div>
                                         <div class="form-column col-md-3">
                                            <div class="form-group required" >
                                                <label for="encargadoProyecto" class="control-label">Encargado de proyecto</label>
                                                    <select id="encargadoProyecto" name="encargadoProyecto" class="form-control requerido" style="width: 100%">
                                                        <option value="" disabled selected>Seleccione un encargado de proyecto...</option>
                                                    </select>  
                                            </div>
                                        </div>
                                         <div class="form-column col-md-3">
                                            <div class="form-group required" >
                                                <label for="tipoContrato" class="control-label">Tipo de contrato</label>
                                                <select id="tipoContrato" name="tipoContrato" class="form-control requerido" style="width: 100%">
                                                    <option value="1">Contrato directo</option>
                                                      <option value="2">Asocio</option>
                                                        <option value="3">Sub contrato</option>
                                                          <option value="4">Alquiler de Equipo</option>
                                                </select>  
                                            </div>
                                        </div>
                                        <input type="hidden" id="longitud" value="0">
                                        <input type="hidden" id="latitude" value="0">
                                        
                                          <div class="clearfix"></div>
                                {# Esto es lo que proporciona el auto complete de las direcciones #}
                                <div class="form-column col-md-6" style="margin-bottom: -10px;">
                                    <div class="form-group">
                                                      <div class="form-group required">
                                                          <label class="control-label">Direccion:</label>
                                                          <input type="text"  name="direccionProyecto"class="form-control requerido" id="direccionProyecto" />
                                                      </div>
                                    </div>
                                </div>
                                                  
                                        {#Termina plugin de localizacion #}
                                        
                                        <div class="form-column col-md-3">
                                            <div class="form-group required" >
                                                <label for="estadoProyecto" class="control-label">Estado del proyecto</label>
                                                <select id="estadoProyecto" name="estadoProyecto" class="form-control requerido" style="width: 100%">
                                                     {% for data in estadoProyecto%}
                                                          <option value="{{data.id}}">{{data.nombre}}</option>
                                                    {% endfor %}
                                                </select>  
                                            </div>
                                        </div>
                                         <div class="form-column col-md-3">
                                            <div class="form-group required" >
                                                <label for="tipoProyecto" class="control-label">Tipo de proyecto</label>
                                                <select id="tipoProyecto" name="tipoProyecto" class="form-control requerido" style="width: 100%">
                                                    {% for data in tipoProyecto%}
                                                          <option value="{{data.id}}">{{data.nombre}}</option>
                                                    {% endfor %}
                                                </select>  
                                            </div>
                                        </div>
                                        
                                      {#  <div class="form-column col-md-3"></div>#}
                                          <div class="clearfix"></div>
                                          
                                          
                                         <div class="form-column col-md-8">
                                            <div class="form-group" >
                                                <label for="observacionesProyecto" class="control-label" >Observaciones</label>
                                                <textarea name="observacionesProyecto" id="observacionesProyecto" class="form-control cler" maxlength="250"></textarea>
                                            </div>
                                            
                                        </div>
                                            <div class="form-column col-md-4">
                                               
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default  btn-sm " style="margin-left: 5px;margin-top: 60px;margin-bottom: 25px;" id="cancelarDatosGeneralesProyecto">Cancelar</a>
                                                </div>
                                                <div class="btn-group pull-right">
                                                    <a  class="btn btn-success  btn-sm " style="margin-left: 5px;margin-top: 60px;margin-bottom: 25px;" id="guardarDatosGeneralesProyecto">Guardar</a>
                                                </div>
                                            
                                          </div>
                                          <div class="clearfix"></div>
                                          
                                          <div class="form-column col-md-12">
                                           {% include ':proyectos:screenshot.html.twig' %}   
                                          </div>
                                           
     </div>   