<div class="row" style="margin-left: 2%; margin-right: 2%; " >
  
     
      
        <div class="form-column col-md-3" style="margin-top: -8px;" id="desdeMaquina">
        
                <label for="maquina-" class="control-label">Desde maquina</label>
                <select id="idMaquinaSeleccionarDatosMantenimiento" name="idMaquinaSeleccionarDatosMantenimiento" class="form-control maquina requeridoMP" style="width: 100%">
                    <option value="0" selected eneable>Maquina...</option>
                </select>
                
                    
         
            
        </div>
        <div class="col-md-1" style="margin-top: -8px; "id="extraerRegistros">
                        <label style="color: #FFF;">Buscar</label>
                        <a class="btn btn-sm btn-info btn-flat pull-left" id="extraerEInsertarRegistros"><i class="fa  fa-search"></i>&nbsp;Extraer registros</a>

         </div>
        <div class="col-md-4"></div>
        <div class="col-md-1" style="margin-left: 95px;margin-top:8px;">
            <button style="margin-bottom: -8px;" class="btn btn-primary  btn-sm " id="nuevoRegistroDatoMantenimiento" title="Nuevo registro">Nuevo</button>
        </div>
        <div class="col-md-1" style="margin-top:8px;">
           <button style="margin-bottom: -8px;" class="btn btn-danger  btn-sm pull-left " id="eliminarDatoMantenimiento" title="Eliminar Registro">Eliminar</button>
        </div>
    <div class="clearfix"></div>
    <div class="col-md-12"  id="contenidoTablaExpedienteMantenimiento">
            <table id="listaDatosMantenimientos" class="mdl-data-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID Mantenimiento</th>
                         <th>Repuesto/Trabajo realizar</th>
                        <th>Numero Original</th>
                        <th>Numero Comercial</th>
                    </tr>
                </thead>
            </table>
        </div>
    <div class="clearfix"></div>
    <div style="margin-bottom: 10px;margin-top: 10px; margin-left: 10px;" id="addNewRowDatoMante">
                <img src="{{ asset('Resources/src/img/add.png') }}" title="Nuevo" class="addDatosMantenimiento">
                <b class="addDatosMantenimiento" id="newDatoMante">Agregar nuevo</b><br><br>
                 
     </div>
    
    <div id="contenidoDatosMantenimiento">
              
        
            
                             
     </div>
    
        <div class="form-column col-md-4 " style="margin-left: -120px;"><div class="form-group" id="almacenarInsersion" >
                <div class="btn-group pull-right"><button class="btn btn-success  btn-sm " style="margin-left: 5px;margin-top: 35px;" id="guardarFormularioDatoManetenimiento">Guardar</button>
                </div>
                 <div class="btn-group pull-right">
                    <a class="btn btn-default  btn-sm " style="margin-left: 5px;margin-top: 35px;" id="cancelarFormularioDatoManetenimiento">Cancelar</a>
                </div>
            </div>
        </div>
    
    
     <div id="edicionDatosMantenimiento" >
                
         
                
        
     </div>
  

  </div>
        
    