<div class="row" style="margin-left: 2%; ">
  
      
        <div class="col-md-12">
       
            <div style="margin-bottom: -50px;margin-top: 10px;">
                <img src="{{ asset('Resources/src/img/add.png') }}" title="Nuevo" class="addDatosMantenimiento">
                <b class="addDatosMantenimiento">Agregar nuevo</b><br><br>
                 <button class="btn btn-danger  btn-sm " style="margin-bottom: -10px;" id="eliminarDatoMantenimiento">Eliminar</button>
            </div>
                
            <table id="listaDatosMantenimientos" class="mdl-data-table" cellspacing="0" width="100%">

                <thead>

                    <tr>
                        <th>ID Mantenimiento</th>
                         <th>Repuesto/Trabajo realizar</th>
                        <th>Numero</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>

                {#<tbody>
                    <tr>
                        <td>Guillermo Jandres</td>
                        <td>Chiltiupan, La Libertad</td>
                        <td>Edinburgh</td>
                        <td><input type="button" value="Ver mas"></td>
                      
                    </tr>
                    
                </tbody>#}
                
               
            </table>
            
            
        </div>

      

    <div class="clearfix"></div>
    
    
    <div id="contenidoDatosMantenimiento">
            
        
            
                             
     </div>
    
        <div class="form-column col-md-4" style="margin-left: -120px;"><div class="form-group" id="almacenarInsersion" >
                <div class="btn-group pull-right">
                    <a class="btn btn-default  btn-sm " style="margin-left: 5px;margin-top: 35px;" id="cancelarFormularioDatoManetenimiento">Cancelar</a>
                </div>
                <div class="btn-group pull-right"><button class="btn btn-success  btn-sm " style="margin-left: 5px;margin-top: 35px;" id="guardarFormularioDatoManetenimiento">Guardar</button>
                </div>
            </div>
        </div>
    
    
     <div id="edicionDatosMantenimiento">
                
         
                
        
     </div>
  

  </div>
        
    