
<div class="row">
    <div class="col-md-12 dropzone" id="zonaDeImagenes" >
        <div class="fallback">
            <input name="file[]" type="file" multiple required id="file-input"/>
           
        </div>
        <input type="hidden" name="idMaquinaInsercionImagen" id="idMaquinaInsercionImagen" value="nnnn">
        
    </div>	


</div>
<div class="row" id="mostrarImagenes" style="margin-top: 20px;">
    

  
</div>