<div class="row" style="margin-left: 2%; ">
   
      
        <div class="col-md-12">
            <div style="margin-bottom: -50px;margin-top: 10px;">
                <img src="{{ asset('Resources/src/img/add.png') }}" title="Nuevo" class="addDatosMantenimiento">
                <b class="addDatosMantenimiento">Agregar nuevo</b>
            </div>
                
            <table id="listaDatosMantenimientos" class="mdl-data-table" cellspacing="0" width="100%">

                <thead>

                    <tr>
                        <th>ID Mantenimiento</th>
                        <th>Nombre</th>
                        <th>Numero</th>
                        <th>Descripcion</th>
                      

                    </tr>
                </thead>

                {#<tbody>
                    <tr>
                        <td>Guillermo Jandres</td>
                        <td>Chiltiupan, La Libertad</td>
                        <td>Edinburgh</td>
                        <td><input type="button" value="Ver mas"></td>
                      
                    </tr>
                    
                </tbody>#}
                
               
            </table>
            
            
        </div>

      

    <div class="clearfix"></div>
    
    
    <div id="contenidoDatosMantenimiento">
            
        
        
     </div>
     <div id="edicionDatosMantenimiento">
                
         
                
        
     </div>
  

  </div>
        
    